// Variables
inbox-color = #2196f3
sent-color = #0f9d58
spam-color = #B9BEC0
trash-color = #d23f31

lightgrey-color = #B0BEC5
grey-color = #777
darkgrey-color = #666
dark-color = #333
darkgreen-color = #009688