form-group-placeholder-color = #333

.form-group__textarea
  width 100%
  resize none
  border none

.form-group__textarea::placeholder
  font-family 'Roboto', sans-serif
  font-size 13px
  letter-spacing normal
  color form-group-placeholder-color