new-email-header-color = #fff
new-email-header-bg-color = #444

.new-email-header
  display flex
  align-items center
  justify-content space-between

  padding 8px 30px
  padding-right 20px
  color new-email-header-color
  background-color new-email-header-bg-color

  &__title
    font-size 14px;
    font-weight normal
    letter-spacing normal

.btn.btn-close:hover
  transform rotate(90deg)